/* custom template */
html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   background-color: rgb(184,230,235);
}

#row1{
  padding-top: 10%;
}

#addForm{
    width: 37%;
    padding-top: 10%;
}

#rowF{
       padding-left: 32%;
}

#btnBack {
    margin-left: 30px;
    margin-top: 20px;
}

#glavniBlok {
    padding-top: 50px;
}

#btnUnosMeca {
    margin-left: 30px;
}

#btnLogOut {
    float: right;
    padding-right: 20px;

}